<app-nav role="navigation"></app-nav>
<main>
  <div class="side-buffer">
    <h1>Contact</h1>

    <sky-alert alertType="info">
      <strong>I check my mail pretty often</strong>
    </sky-alert>

    <div class="template-about-teams">
      <div *ngFor="let member of team" class="template-about-team">
        <sky-avatar [name]="member.name"></sky-avatar>
        <sky-key-info [layout]="'horizontal'">
          <sky-key-info-value>
            {{ member.name }}
          </sky-key-info-value>
          <sky-key-info-label>
            <a href="mailto:{{ member.email }}">
              {{ member.email }}
            </a>
          </sky-key-info-label>
        </sky-key-info>
      </div>
    </div>
  </div>
</main>