<div class="side-buffer">
    <h1>Instructions</h1>
    <p>
        <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank" rel="noopener noreferrer" class="sky-btn sky-btn-primary">
            Learn more about {{ 'game_title' | skyAppResources}}
        </a>
    </p>

    <form class="control-box">
        From the home screen:
        <ol>
            <li>
                Enter a non-negative integer into the text input field.
            </li>
            <br>
            <li>
                Press the enter key to create a grid that will have a number of rows and columns equal to the number that was input into
                the text input field.
            </li>
            <br>
            <li>
                After the grid has been generated, all tiles are initially set to 'dead'. Clicking a dead cell will toggle it to 'alive'.
                Clicking on an alive cell will toggle it back to dead.
            </li>
            <br>
            <li>
                Click any number of cells toggling them from alive or dead until you have a desired pattern established within the grid.
            </li>
            <br>
            <li>
                Click the 'Activate' button to start the game. You must have entered a number in the text input field and pressed the enter
                key in order to enable the 'Activate' button.
            </li>
            <br>
            <li>
                Clicking the 'Pause' button will pause the game in its current state. While the game is paused, you can click and toggle
                any of the cells in the grid.
            </li>
            <br>
            <li>
                Clicking 'Activate' while paused will resume the game. Cells cannot be toggled while the game is running.
            </li>
            <br>
            <li>
                Clicking the 'Reset' button at any time will return the game to its intial state.
            </li>
            <br>
            <li>
                It is recommended to not zoom out within your browser window too much, as it will distort the appearance of the cells.
            </li>
        </ol>
    </form>
</div>